<div class="container">
  <h3>Top Charts</h3>

  <div class="row">
      <div class="col-sm-12 topcharts-navigation">
        <ul class="nav nav-pills">
          <li class="nav-list-item" ui-sref-active="active">
            <a ui-sref="topcharts.paid">Paid</a>
          </li>
          <li class="nav-list-item" ui-sref-active="active">
            <a ui-sref="topcharts.free">Free</a>
          </li>
          <li class="nav-list-item" ui-sref-active="active">
            <a ui-sref="topcharts.top-grossing">Top Grossing</a>
          </li>
        </ul>
      </div>
  </div>

  <div class="topcharts-view-container">
    <div class="topcharts-ui-view" ui-view></div>
  </div>

</div>